{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="mt-5">
        <h1>Com o que podemos ajudar?</h1>
    </div>
    <div class="andes-list__item cx-list-item">
        <div class="andes-visually-hidden">
            <span>
                "Administrar e cancelar compras, Pagar, rastrear
                envios, alterar, reclamar ou concelar compras."
            </span>
        <div class="andes-list__item-first-column">
            </div aria-hidden="true"></div>
                <div class="andes-list__item-text">
                    <div class="andes-list__item-primary" aria-hidden="true">
                    Devoluções e reembolsos</div>
                        <div class="andes-list__item-secondary" aria-hidden="true">
                        Devolver ump roduto ou consultar por estorno de compra</div>
                    <div>
                </div> 
            </div>
        </div>
    </div>
</div>
{% endblock %}