{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="mt-2">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="/static/loja1.jpeg" class="d-block w-100" alt="..." height="400">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Camisas moda verão</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
              <div class="carousel-item">
                <img src="/static/loja2.jpeg" class="d-block w-100" alt="..." height="400">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Segundo slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/static/loja3.jpeg" class="d-block w-100" alt="..." height="400">
                <div class="carousel-caption d-none d-md-block">
                    <h5>terceiro slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
              </div>
            </div>
          </div>

      
          <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
    </div>
    <hr>
    <div class="row">
        {% for p in produto_list %}
            <div class="col-md-4">
                <div class="m-3">  
                    <h4 class="card-title">{{p.titulo}}</h4>
                    <img src="{{p.image.url}}" alt="img" class="img-fluid" style="height: 100px; object-fit: cover;">
                    <p class="mt-3"><strike>R$ {{p.preco_mercado}}</strike> R$ {{p.vend}}</p>
                    <a href="{% url 'ldjango:addcarro' p.id %}" class="btn btn-success">Comprar</a>
                </div> 
            </div>
        {% endfor %}
    </div>
</div>

<div class="separator assi_wllisses text-center">
    <b>&copy-macedo - Marketing | Design | Serviços
        Cnpj.: 000.000.000-00
    </b>
</div>

{% endblock %}  