{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="mt-5">
        <p class="text align-justify">Materiais esportivos para todos os praticantes de artes marcias, demais produtos para 
            diferentes modalidades e acessórios diversos para ajudar você na manutenção da saúde 
            por meio da prática de esportes.Materiais esportivos para todos os praticantes de artes marcias, demais produtos para 
            diferentes modalidades e acessórios diversos para ajudar você na manutenção da saúde 
            por meio da prática de esportes.
        </p>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        {% for p in produto_list %}
            <div class="col-md-4">
                <h4>{{p.titulo}}</h4>
                <img src="{{p.image.url}}" class="img-thumbnail" alt="img" width="250">
                <h5>R$ {{p.preco_mercado}}</h5>
                <h5>R$ {{p.vend}}</h5>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}