{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h3>Item do carrinho</h3>
            <a href="{% url 'ldjango:meu-carro' %}" class="btn-sm btn-warning">Atualizar Carro</a>
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th>Cod</th>
                        <th>Produto</th>
                        <th>Avaliação</th>
                        <th>Qtd</th>
                        <th>Subtotal</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in carro.carroproduto_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.produto.titulo}}</td>
                        <td>{{cp.avaliacao}}</td>
                        <td>{{cp.quantidade}}</td>
                        <td>{{cp.subtotal}}</td>
                    </tr>
                    {% endfor %}
                  </tr>
                </tbody>
                <tr>
                    <th colspan="4" class="text-right">Valor total</th>
                    <th>R$ . {{carro.total}}</th>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <h3>Detalhes do Produto</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn-sm btn-info">Comprar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}  