{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

<div class="container mt-5">

    <h3>Sobre nós:</h3>
    <div class="row">
        <div class="col-md-6">
        <p class="justify-content-start">No mercado digital desde de 2021, promovendo a melhor experiência de
            compras via internet buscando os melhoores produtos no mundo do esport voltado principalmente
            ao público das artes marciais, estamos inovando na maneira de atender com os nossos parceiros
            comerciais e nossos clientes diretos, o desenvolvimento de uma plataforma com recursos que dê 
            ao nosso consumidor final a melhor experiência na sua compra entrega do produto e o pós venda
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga facere quo nemo 
            neque ab voluptatum iusto, soluta nihil numquam delectus ipsum sequi ut, hic 
            architecto vel vero quasi libero. Hic?</p>

            <div class="col col-md-4">
                <p class="justify-content-justify">No mercado digital desde de 2021, promovendo a melhor experiência de
                    compras via internet buscando os melhoores produtos no mundo do esport voltado principalmente
                    ao público das artes marciais, estamos inovando na maneira de atender com os nossos parceiros
                    comerciais e nossos clientes diretos, o desenvolvimento de uma plataforma com recursos que dê 
                    ao nosso consumidor final a melhor experiência na sua compra entrega do produto e o pós venda
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga facere quo nemo 
                    neque ab voluptatum iusto, soluta nihil numquam delectus ipsum sequi ut, hic 
                    architecto vel vero quasi libero. Hic?</p>
    </div>
    
</div>
</div>
{% endblock %}