{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="text-center">Todas as Categorias</h1>
    {% for cat in todascategorias %}
    <hr>
    <h2>{{cat.titulo}}</h2>
    <div class="row">
        {% for p in cat.produto_set.all %}
            <div class="col-md-4">
                <div class="m-3">  
                    <h4><a href="{% url 'ldjango:produtodetalhes' p.slug %}">{{p.titulo}}</a></h4>
                    <img src="{{p.image.url}}" alt="img" class="img-fluid" style="height: 100px; object-fit: cover;">
                    <p class="mt-3"><strike>R$ {{p.preco_mercado}}</strike> por R$ {{p.vend}}</p>
                    <a href="" class="btn btn-success">Comprar</a>
                </div> 
            </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<div class="separator assi_wllisses text-center">
    <b>Wings Design - Marketing | Design | Serviços
        Cpf.: 000.000.000-00
    </b>

</div>

{% endblock %}